<!doctype html>
<html>
<head>
    <title>Ampere Menu List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Restaurent's Menu List</h1>
    </div>

<table class = "table table-striped hover">
    <tr>                     
    	<th>#</th>
       <th colspan="1">Name</th>
       <th colspan="1">Location</th>
       <th colspan="1">Cuisine Type</th>
    </tr>
    <tbody>
       <tr" >    
          <td></td>                  
       	  <td><%= menu %></td>
       	  <td>#</td>
          <td>#</td>
       </tr>                     
    </tbody>

 </table>
</div>
</body>
</html>